body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

/* Хедер */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    max-height: 40px;
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 10px;
}

#img1 {
    height: 70px;
    width: auto;
    cursor: pointer;
}

#img2 {
    height: 50px;
    width: auto;
    cursor: pointer;
}

#img3 {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.toggle-submenu {
    position: relative;
    cursor: pointer;
}

.menu {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #f9f9f9;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    position: relative;
}

.menu-item, .submenu-item {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
    cursor: pointer;
}

.menu-item:hover, .submenu-item:hover {
    background-color: #ddd;
}

.menu ul .submenu {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1001;
}

/* Основные модули */

.container_main {
    display: flex;
    flex-direction: row;
}

.container_buttons {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.container_nav_table_search{
    height: 690px;
    width: 885px;
    border: 1px solid;
    margin-left: 5px;
    margin-top: 10px;
}

.container_table {
    overflow-y: auto;
    overflow-x: auto;
    height: 563px;
    width: auto;
    border: 1px solid;
}

.table  {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
}

tr.selected {
    background-color: #cccccc;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.table thead tr th:hover {
    background-color: #b3d1ff;
    cursor: pointer;
}

.container_formsMenu {
    width: 390px;
}

.formsMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
}

/* Поиск */

.container_searchBar {
    margin: 5px;
    border: 1px solid black;
    margin-top: 12px;
    padding: 3px;
}

.container_searchBar select {
    margin-left: 20px;
    height: 34px;
    width: 140px;
}

.container_searchBar input {
    width: 400px;
}

/* Кнопки, лэйблы, импуты */

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[disabled]{
   background-color: #cccccc;
   color: #666666;
   cursor: default;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.clearButton:hover {
    cursor: pointer;
}

.radioButtonsContainer{
    margin-bottom: -5px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
    border: 1px solid black;
    gap: 11px;
    padding: 3px;
}

button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

button[disabled]:hover {
    opacity: 1;
}

button:hover {
    opacity: 0.8;
}

.grayButton  {
    background-color: #C0C0C0;
}

.greenButton {
    background-color: #98FB98;
}

.redButton {
    background-color: #FA8072;
}

/* Формы удаления/изменения/создания */

#forms {
    width: 300px;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

/* Общее модальное окно */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: auto;
    max-height: 700px;
    gap: 20px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    overflow-y: auto;
    z-index: 9999;
    flex-direction: column;
}

.modal input[type="text"] {
    border: 1px solid black;
}

.modal input[type="radio"] {
    border: 1px solid black;
    width: 16px;
    height: 15px;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal input[disabled]:hover {
    background-color: #cccccc;
}

.modal label {
    font-size: 16px;
    color: #black;
}

#modalDataSource  {
    max-width: 800px;
    max-height: 600px;
    border: 1px solid;
}

#modalDataSource .table {
    max-width: 600px;
    max-height: 600px;
    overflow: auto;
}

#modalDataSource .redButton {
    margin-left: 333px;
    margin-top: 25px;
}

.additionalInput {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    cursor: pointer;
}

.additionalInput:focus {
    outline: none;
}

.additionalInput:hover {
    background-color: #e0e0e0;
}

/* Панель навигации */

#navigationPanel {
    height: 17px;
    width: 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#navigationPanel button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

#navigationPanel button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#navigationPanel .prev-button {
    order: -1;
}

#navigationPanel .next-button {
    order: 1;
}

#navigationPanel span {
    margin-top:7px;
}

/* СТИЛИ ДЛЯ СТРАНИЦЫ СОЗДАНИЯ НАКЛАДНОЙ */

#modalInvoice {
  position: fixed;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 100;
}

#modalAct {
  position: fixed;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 200;
}

.container_nav_invoiceCreateButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    margin: 5px;
    height: 50px;
}

/* Меню создания УЕ */

#UEMenu {
    margin-left: 905px;
    margin-top: 10px;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    position: fixed;
}

#employeeMenu {
    margin-left: 905px;
    margin-top: 10px;
    width: 650px;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    position: fixed;
}

#UEMenu_table tr.selected{
    cursor: default;
    background-color: #f0f0f0;
}

#UEMenu_table tr{
    cursor: default;
    background-color: #f0f0f0;
}

#UEContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: auto;
}

#UEMenu_header {
    font-size: 26px;
    font-weight: bold;
    height: 40px;
    display: flex;
}

#UEMenu_number {
    height: 30px;
    width: 80px;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#UEMenu button {
  padding: 10px 15px;
  font-size: 16px;
  min-width: 100px;
  height: 50px;
}

#UEMenu_table_container {
    height: 400px;
    width: auto;
    overflow-x: auto;
}

#UEContainer1 {
    display: flex;
    height: 60px;
    align-items: center;
    border: 1px solid;
}

#UEContainer1 .container_searchBar input {
    width: 350px;
}

#modalReceipt, #modalDispatch, #modalMoving {
    z-index: 200;
}

#modalReceiptUE, #modalDispatchUE, #modalMovingUE {
    z-index: 300;
}

#modalMovingUESubmit {
    z-index: 400;
}

#modalReceipt {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.modal-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#receiptTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0f0f0;
}

#receiptTable th, #receiptTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#receiptTable th {
    background-color: #d0d0d0;
}

#receiptTable_container {
    height: 400px;
    width: auto;
    overflow-x: auto;
    margin-top: 10px;
}

#receiptTable tr.selected {
    cursor: default;
    background-color: #e0e0e0;
}

#dispatchTable tr.selected {
    cursor: default;
    background-color: WHITE;
}

#receiptTable tr {
    cursor: default;
    background-color: #f0f0f0;
}

#UE_MATERIAL_TABLE {
    width: 1375px;
}