body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    max-height: 40px;
    display: flex;
    align-items: center;
}

#img1 {
    height: 70px;
    width: auto;
    cursor: pointer;
}

#img2 {
    height: 50px;
    width: auto;
    cursor: pointer;
}

#img3 {
    height: 50px;
    width: auto;
    cursor: pointer;
}

#container2 {
    padding: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: auto;
}

#container1 {
    display: flex;
    flex-direction: row;
}

#input {
    width: 370px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#input button {
    margin-right: 10px;
}

#input button:last-child {
    margin-right: 0;
}


#table  {
    margin-top: 10px;
}

#table{
    border-collapse: collapse;
    border: 1px solid black;
}

#table th, #table td {
    border: 1px solid black;
    padding: 8px;
}

#table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#table thead tr th:hover {
    background-color: #b3d1ff;
    cursor: pointer;
}

.table  {
    margin-top: 10px;
}

.table{
    border-collapse: collapse;
    border: 1px solid black;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.table thead tr th:hover {
    background-color: #b3d1ff;
    cursor: pointer;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#submenu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 40px;
    left: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    width: 150px;
    z-index: 1;
}

#submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#submenu li {
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#submenu a:hover {
    background-color: #ddd;
}

#submenu a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    display: block;
}

.toggle-submenu {
    cursor: pointer;
}


/* Общие стили для всех форм */
#forms {
    display: none;
    width: 300px;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"]  {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #45a049;
}

/* Стили для формы изменения */
#editForm {
    display: none;
}

#editForm label {
    font-weight: bold;
}

#editForm button[type="submit"] {
    background-color: #f44336;
}

/* Стили для формы создания */
#createForm {
    display: none;
}

#createForm label {
    font-weight: bold;
}

#createForm button[type="submit"] {
    background-color: #f44336;
}

/* Стили для формы удаления */
#deleteForm {
    display: none;
}

#deleteForm label {
    font-weight: bold;
}

#deleteForm button[type="submit"] {
    background-color: #f44336;
}


#navigationPanel {
    margin-top: 10px;
}

/* Стили для модального окна */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Стили для таблицы внутри модального окна */
.modal .table {
    width: 100%;
    border-collapse: collapse;
}

.modal .table th,
.modal .table td {
    border: 2px solid #a0a0a0;
    padding: 8px;
    text-align: left;
}

.modal .table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Стили для строк таблицы при наведении */
.modal .table tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#navigationPanel {
    margin-bottom: 20px;
}

#navigationPanel button {
    margin-right: 10px;
}

#navigationPanel button.active {
    background-color: blue;
}


/* СТИЛИ ДЛЯ СТРАНИЦЫ СОЗДАНИЯ НАКЛАДНОЙ */
#container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#container4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#modalInvoice {
  position: fixed;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Установлено фиксированное значение ширины */
  font-size: 18px; /* Увеличен шрифт */
  display: flex; /* Используем flexbox для управления расположением элементов */
  flex-direction: column; /* Элементы располагаются в колонку */
  gap: 20px; /* Добавляем промежуток между элементами */
}

#modalInvoice label,
#modalInvoice input,
#modalInvoice select,
#modalInvoice button {
  width: 100%; /* Элементы занимают всю ширину контейнера */
  margin-bottom: 10px; /* Добавляем небольшой отступ снизу для каждого элемента */
}

#buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

#modalInvoice button {
  padding: 10px 15px;
  font-size: 16px;
  min-width: 100px;
  height: 50px;
}

.modalAct {
  position: fixed;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  z-index: 102;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalAct h2,
.modalAct input,
.modalAct button {
  width: 100%;
  margin-bottom: 10px;
}

.modalAct .buttons-container {
  display: flex;
  justify-content: space-between;
}

.modalAct .submitButton {
  background-color: #4CAF50; /* Зеленый */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modalAct .submitButton:disabled {
  background-color: #ccc;
  cursor: default;
}

.modalAct button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modalAct button:hover {
  opacity: 0.8;
}

/* Меню создания УЕ */

.sticky {
    position: fixed;
    top: 0;
    z-index: 1000; /* Обеспечивает, что элемент будет на переднем плане */
}

#UECreationMenu {
    margin-left: 30px;
    margin-top: 45px;
    width: 650px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}

#UEContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    height: 60px;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}

#UECreationMenu_header {
    font-size: 26px;
    font-weight: bold;
    height: 40px;
    display: flex;
}

#UECreationMenu_number {
    height: 30px;
    width: 80px;
    border: 1px solid black;
    margin-left: 10px;
}

#UECreationMenu button {
  padding: 10px 15px;
  font-size: 16px;
  min-width: 100px;
  height: 50px;
}

#UECreationMenu_table {
    height: 400px;
    width: auto;
    overflow-x: auto;
    display: block;
}

