<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Весами</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;
    </script>

</head>
<body>
<header>



    <img id="img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">

    <a href="/invoice">
        <img id="img2" src="css/nakladnaya.png">
    </a>

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateNavigationPanel(); GetPageFromTable(currentPage);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">
    <ul>
        <li><a href="/building">Здания</a></li>
        <li><a href="/room">Помещения</a></li>
        <li><a href="/ZBM">ЗБМ</a></li>
        <li><a href="/Scales">Весы</a></li>
    </ul>
</div>

<div class="container_main">
    <div class="container_formsMenu">
        <div class="formsMenu">
            <div class="container_buttons">
                <button class="redButton" type="button" onclick="DeleteButtonClick(mainTable)">Удалить</button>
                <button class="redButton" type="button" onclick="EditButtonClick(mainTable)">Изменить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('createForm')">Создать</button>
            </div>

            <div id="forms">
                <!-- Форма создания для Building -->
                <form id="createForm" onsubmit="SubmitCreateForm(event); return false;" method="post">
                    <h1>Создание Здания</h1>

                    <label for="create_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="create_zbmNumber"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-columns-order="Номер_ЗБМ, Площадь"
                           autocomplete="off"
                           readonly>

                    <label for="create_buildingNumber">Номер здания:</label>
                    <input type="text"
                           id="create_buildingNumber"
                           name="Номер_здания">

                    <label for="create_area">Площадь:</label>
                    <input type="text"
                           id="create_area"
                           name="Площадь">
                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма изменения для Building -->
                <form id="editForm" onsubmit="SubmitEditForm(event); return false;" method="post" style="display: none;">
                    <h1>Изменение Здания</h1>

                    <label for="edit_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="edit_zbmNumber"
                           data-edit-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-columns-order="Номер_ЗБМ, Площадь"
                           autocomplete="off"
                           readonly>

                    <label for="edit_buildingNumber">Номер здания:</label>
                    <input type="text"
                           id="edit_buildingNumber"
                           name="Номер_здания">

                    <label for="edit_area">Площадь:</label>
                    <input type="text"
                           id="edit_area"
                           name="Площадь">

                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма удаления для Building -->
                <form id="deleteForm" onsubmit="SubmitDeleteForm(event); return false;" method="post" style="display: none;">
                    <h1>Удаление Здания</h1>

                    <label for="delete_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="delete_zbmNumber"
                           data-delete-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           autocomplete="off"
                           readonly>

                    <label for="delete_buildingNumber">Номер здания:</label>
                    <input type="text"
                           id="delete_buildingNumber"
                           name="Номер_здания">

                    <button class="redButton" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>

        <table id="mainTable" class="table" name="Здание">
            <thead>
            <tr>
                <th name="Номер_ЗБМ"
                    data-expanded-source="Зона_баланса_материалов"
                    data-expended-columns="Номер_ЗБМ, Площадь"
                    data-expanded-prefix="Номер: *$ Площадь: *">
                    ЗБМ
                </th>
                <th name="Номер_здания">Номер здания</th>
                <th name="Площадь">Площадь</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
