<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Сотрудниками</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;

        document.addEventListener('DOMContentLoaded', function() {
        var mainTable = document.getElementById('mainTable');
        var invoiceSelect = document.getElementById('invoiceSelect');
        FillSearchSelectOptions(invoiceSelect, mainTable);

        var UEMenu_table = document.getElementById('UEMenu_table');
        AddSortingToTableHeaders(UEMenu_table);

        // Функция для добавления слушателей на строки таблицы
        function addRowListeners(rows) {
            Array.prototype.forEach.call(rows, function(row) {
                // Проверяем, если слушатель уже добавлен
                if (!row.getAttribute('data-listener-added')) {
                    row.addEventListener('click', function() {
                        if (row.classList.contains('selected')) {
                            EmployeeRowClick(row);
                        }
                    });
                    // Устанавливаем атрибут, сигнализирующий о добавленном слушателе
                    row.setAttribute('data-listener-added', 'true');
                }
            });
        }

        // Добавляем слушатель на существующие строки таблицы
        addRowListeners(mainTable.getElementsByTagName('tr'));

        // Используем MutationObserver для отслеживания добавления новых строк
        var observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
                    var addedRows = [];
                    mutation.addedNodes.forEach(node => {
                        if (node.nodeName === 'TR') {
                            addedRows.push(node);
                        }
                    });
                    // Добавляем слушатели только к новым строкам
                    addRowListeners(addedRows);
                }
            });
        });

        observer.observe(mainTable.getElementsByTagName('tbody')[0], { childList: true });
    });

    </script>

</head>
<body>
<header>
    <div hidden id="pageName"> Сотрудника </div>

    <img id = "img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="GetPageFromTable(1);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>

    <h1> Управление Сотрудниками </h1>
</header>

<div class="menu" onmouseover="toggleMenu(true)" onmouseout="toggleMenu(false)">
    <ul>
        <li><a class="menu-item" href="/invoice">Накладные</a></li>
        <li class="has-submenu" onmouseover="toggleSubMenu(this, true)" onmouseout="toggleSubMenu(this, false)">
            <div class="menu-item">Адреса</div>
            <ul class="submenu">
                <li><a class="menu-item" href="/ZBM">ЗБМ</a></li>
                <li><a class="menu-item" href="/building">Здания</a></li>
                <li><a class="menu-item" href="/room">Помещения</a></li>
            </ul>
        </li>
        <li class="has-submenu" onmouseover="toggleSubMenu(this, true)" onmouseout="toggleSubMenu(this, false)">
            <div class="menu-item">Персонал</div>
            <ul class="submenu">
                <li><a class="menu-item" href="/employee">Сотрудники</a></li>
                <li><a class="menu-item" href="/position">Должности</a></li>
                <li><a class="menu-item" href="/power">Полномочия</a></li>
                <li><a class="menu-item" href="/representative">Представители</a></li>
            </ul>
        </li>
        <li class="has-submenu" onmouseover="toggleSubMenu(this, true)" onmouseout="toggleSubMenu(this, false)">
            <div class="menu-item">Материалы</div>
            <ul class="submenu">
                <li><a class="menu-item" href="/materialtype">Типы материалов</a></li>
                <li><a class="menu-item" href="/container">Контейнеры</a></li>
                <li><a class="menu-item" href="/сriticallimit">Критические пределы</a></li>
            </ul>
        </li>
        <li><a class="menu-item" href="/partner">Партнеры</a></li>
    </ul>
</div>


<div class="container_main">
    <div class="container_nav_table_search">

        <div class="container_nav_invoiceCreateButton">
            <!-- Место под панель навигации -->
            <div id="navigationPanel"></div>

            <div class="container_buttons">
                <button class="greenButton" type="button" onclick="CreateRowModal(mainTable)">Создать</button>
                <button class="greenButton" type="button" onclick="EditRowModal(mainTable)">Изменить</button>
                <button class="redButton" type="button" onclick="DeleteSelectedRow(mainTable)">Удалить</button>
            </div>
        </div>

        <div class="container_table">
            <table id="mainTable" class="table" name="Сотрудник">
                <thead>
                <tr>
                    <th name="Номер_сотрудника"
                        data-editable="false"
                        data-autoIncrement="true"
                        data-input-order="0"> Номер сотрудника</th>

                    <th name="Начальник"
                        data-expanded-source="Сотрудник"
                        data-expanded-columns="Начальник, Фамилия, Имя, Отчество, Номер_телефона"
                        data-expanded-prefix="Номер: *, * * *, Телефон: *"
                        data-editable="true"
                        data-canBeNull="true">
                        Начальник
                    </th>

                    <th name="Номер_должности"
                        data-expanded-source="Должность"
                        data-expanded-columns="Номер_должности, Название_должности"
                        data-expanded-prefix="Номер: *, *"
                        data-editable="true"
                        data-input-order="1">
                        Должность
                    </th>

                    <th name="Фамилия"
                        data-editable="true"
                        data-input-order="2">Фамилия</th>

                    <th name="Имя"
                        data-editable="true"
                        data-input-order="3">Имя</th>

                    <th name="Отчество"
                        data-editable="true"
                        data-input-order="4">Отчество</th>

                    <th name="Пол"
                        data-editable="true"
                        data-input-order="5"
                        data-variates='["М", "Ж"]'
                        data-values='["М", "Ж"]'>
                        Пол
                    </th>

                    <th name="Дата_рождения"
                        data-editable="true"
                        data-input-order="6">Дата рождения</th>

                    <th name="Адрес"
                        data-editable="true"
                        data-input-order="7">Адрес</th>

                    <th name="Номер_паспорта"
                        data-editable="true"
                        data-input-order="8">Номер паспорта</th>

                    <th name="Номер_телефона"
                        data-editable="true"
                        data-input-order="9">Номер телефона</th>

                </tr>
                </thead>
                <tbody>
                <!-- Здесь будет динамически заполняться таблица -->
                </tbody>
            </table>
        </div>

        <div class="container_searchBar">
            <select id="invoiceSelect">
            </select>
            <input type="text"  id="invoiceSearchInput" placeholder="Введите данные для поиска" onchange="MakeSearch(invoiceSelect, mainTable, invoiceSearchInput)">
        </div>
    </div>

    <div id="employeeMenu">
        <div id="UEMenu_header">
            <div> Сотрудник номер </div>
            <div id="UEMenu_number">
                <!-- Место для номера накладной -->
            </div>
            <div> полномочия: </div>
        </div>

        <div id="UEMenu_table_container" >
            <table id="UEMenu_table" class="table" name="Полномочия">
                <thead>
                <tr>

                    <th name="Может_подписать_накладную"
                        data-editable="true"
                        data-input-order="1">Создать накладную</th>

                    <th name="Может_инициировать_акт_отправки"
                        data-editable="true"
                        data-input-order="2">Отправка</th>

                    <th name="Может_начать_акт_перемещения"
                        data-editable="true"
                        data-input-order="3">Начать перемещение</th>

                    <th name="Может_завершить_акт_перемещения"
                        data-editable="true"
                        data-input-order="4">Завершить перемещение</th>

                    <th name="Может_быть_ответственным"
                        data-editable="true"
                        data-input-order="5">Ответственный</th>
                </tr>
                </thead>
                <tbody>
                <!-- Здесь будет динамически заполняться таблица -->
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>