<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Весами</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;
    </script>

</head>
<body>
<header>
    <img id = "img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateNavigationPanel(); GetPageFromTable(1);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">
    <ul>
        <li><a href="/building">Здания</a></li>
        <li><a href="/room">Помещения</a></li>
        <li><a href="/ZBM">ЗБМ</a></li>
        <li><a href="/Scales">Весы</a></li>
    </ul>
</div>

<div class="container_main">
    <div class="container_formsMenu">
        <div class="formsMenu">
            <div class="container_buttons">
                <button class="greenButton" type="button" onclick="setupFormToggle('deleteForm')">Удалить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('editForm')">Изменить</button>
                <button class="greenButton" type="button" onclick="ModalCreateInvoice()">Создать</button>
            </div>

            <div id="forms">
                <!-- Форма изменения для Накладная -->
                <form id="editForm" onsubmit="SubmitEditForm(event); return false;" method="post">
                    <h1>Изменение Накладной</h1>

                    <label for="edit_invoiceNumber">Номер накладной:</label>
                    <input type="text" id="edit_invoiceNumber" name="Номер_накладной">

                    <label for="edit_signDate">Дата подписания:</label>
                    <input type="text" id="edit_signDate" name="Дата_подписания">

                    <label for="edit_employeeNumber">Номер сотрудника:</label>
                    <input type="text" id="edit_employeeNumber" name="Номер_сотрудника">

                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма удаления для Накладная -->
                <form id="deleteForm" onsubmit="SubmitDeleteForm(event); return false;" method="post" style="display: none;">
                    <h1>Удаление Накладной</h1>
                    <label for="delete_invoiceNumber">Номер накладной:</label>
                    <input type="text" id="delete_invoiceNumber" name="Номер_накладной">
                    <button class="redButton" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>

        <table id="mainTable" class="table" name="Накладная">
            <thead>
            <tr>
                <th name="Номер_накладной">Номер накладной</th>
                <th name="Номер_сотрудника">Номер сотрудника</th>
                <th name="Дата_подписания">Дата подписания</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>
    </div>

    <div id="UEMenu">
        <div id="UEMenu_header">
            <div> Накладная номер </div>
            <div id="UEMenu_number">
                <!-- Место для номера накладной -->
            </div>
        </div>

        <div id="UEMenu_table_container" >
            <table id="UEMenu_table" class="table" name="Учетная_единица">
                <thead>
                <tr>
                    <th name="Серийный_номер">Серийный номер</th>
                    <th name="Тип_материала">Тип материала</th>
                    <th name="Номер_ЗБМ">Номер ЗБМ</th>
                    <th name="Номер_здания">Номер здания</th>
                    <th name="Номер_помещения">Номер помещения</th>
                </tr>
                </thead>
                <tbody>
                <!-- Здесь будет динамически заполняться таблица -->
                </tbody>
            </table>
        </div>

        <div id="UEContainer1">
            <input type="text" id="searchField" placeholder="Введите серийный номер для поиска">
            <button class="submitButton" onclick="ModalCreateUE()">Создать</button>
        </div>
    </div>
</div>


</body>
</html>