<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Накладными</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>



    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;

        document.addEventListener('DOMContentLoaded', function() {

            var mainTable = document.getElementById('mainTable');
            var invoiceSelect = document.getElementById('invoiceSelect');
            FillSearchSelectOptions(invoiceSelect, mainTable);

            var UEMenu_table = document.getElementById('UEMenu_table');
            var UESelect = document.getElementById('UESelect');
            FillSearchSelectOptions(UESelect, UEMenu_table);

            AddSortingToTableHeaders(UEMenu_table);

            // Функция для добавления слушателей на строки таблицы
            function addRowListeners(rows) {
                Array.prototype.forEach.call(rows, function(row) {
                    row.addEventListener('click', function() {
                        if (row.classList.contains('selected')) {
                            InvoiceRowClick(row);
                        }
                    });
                });
            }

            // Добавляем слушатель на существующие строки таблицы
            addRowListeners(mainTable.getElementsByTagName('tr'));

            // Используем MutationObserver для отслеживания добавления новых строк
            var observer = new MutationObserver(function(mutations) {
                mutations.forEach(function(mutation) {
                    if (mutation.type === 'childList' && mutation.addedNodes.length > 0) {
                        // Добавляем слушатели только к новым строкам
                        addRowListeners(mutation.addedNodes);
                    }
                });
            });

            observer.observe(mainTable.getElementsByTagName('tbody')[0], { childList: true });

        });
    </script>

    <div hidden id="pageName"> Учетной Единицы </div>

</head>
<body>
<header>
    <img id = "img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="GetPageFromTable(1);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>

    <h1> Управление Накладными </h1>
</header>

<div class="menu" onmouseover="toggleMenu(true)" onmouseout="toggleMenu(false)">
    <ul>
        <li><a class="menu-item" href="/invoice">Накладные</a></li>
        <li class="has-submenu" onmouseover="toggleSubMenu(this, true)" onmouseout="toggleSubMenu(this, false)">
            <div class="menu-item">Адреса</div>
            <ul class="submenu">
                <li><a class="menu-item" href="/ZBM">ЗБМ</a></li>
                <li><a class="menu-item" href="/building">Здания</a></li>
                <li><a class="menu-item" href="/room">Помещения</a></li>
            </ul>
        </li>
        <li class="has-submenu" onmouseover="toggleSubMenu(this, true)" onmouseout="toggleSubMenu(this, false)">
            <div class="menu-item">Персонал</div>
            <ul class="submenu">
                <li><a class="menu-item" href="/employee">Сотрудники</a></li>
                <li><a class="menu-item" href="/position">Должности</a></li>
                <li><a class="menu-item" href="/power">Полномочия</a></li>
                <li><a class="menu-item" href="/representative">Представители</a></li>
            </ul>
        </li>
        <li class="has-submenu" onmouseover="toggleSubMenu(this, true)" onmouseout="toggleSubMenu(this, false)">
            <div class="menu-item">Материалы</div>
            <ul class="submenu">
                <li><a class="menu-item" href="/materialtype">Типы материалов</a></li>
                <li><a class="menu-item" href="/container">Контейнеры</a></li>
                <li><a class="menu-item" href="/сriticallimit">Критические пределы</a></li>
                <li><a class="menu-item" href="/UE_MATERIAL_FORM">Учетные единицы</a></li>
            </ul>
        </li>
        <li><a class="menu-item" href="/partner">Партнеры</a></li>
    </ul>
</div>


<div class="container_main">
    <div class="container_nav_table_search">


        <div class="container_nav_invoiceCreateButton">

            <!-- Место под панель навигации -->
            <div id="navigationPanel"></div>

            <div class="container_buttons">
                <button class="greenButton" type="button" onclick="ModalCreateInvoice()">Создать накладную</button>
            </div>
        </div>

        <div class="container_table">
            <table id="mainTable" class="table" name="Накладная">
                <thead>
                <tr>
                    <th name="Номер_накладной">Номер накладной</th>

                    <th name="Номер_сотрудника"
                        data-expanded-source="Сотрудник"
                        data-expanded-columns="Номер_сотрудника, Фамилия, Имя, Отчество"
                        data-expanded-prefix="Номер: *: * * *">
                        Сотрудник
                    </th>

                    <th name="Дата_подписания">Дата подписания</th>
                </tr>
                </thead>
                <tbody>
                <!-- Здесь будет динамически заполняться таблица -->
                </tbody>
            </table>
        </div>

        <div class="container_searchBar">
            <select id="invoiceSelect">
            </select>
            <input type="text"  id="invoiceSearchInput" placeholder="Введите данные для поиска" onchange="MakeSearch(invoiceSelect, mainTable, invoiceSearchInput)">
        </div>
    </div>

    <div id="UEMenu">
        <div id="UEMenu_header">
            <div> Накладная номер </div>
            <div id="UEMenu_number"></div>
            <div> учетные единицы: </div>
        </div>

        <div id="UEMenu_table_container" >
            <table id="UEMenu_table" class="table" name="Учетная_единица">
                <thead>
                <tr>
                    <th name="Серийный_номер"
                        data-input-order="0">Серийный номер</th>

                    <th name="Вес_нетто"
                        data-input-order="1">Вес нетто</th>

                    <th name="Инвентарный_номер_весов"
                        data-expanded-source="Весы"
                        data-expanded-columns="Инвентарный_номер_весов, Модель"
                        data-expanded-prefix="Номер: *, *"
                        data-editable="true"
                        data-input-order="2">
                        Инвентарный номер весов
                    </th>

                    <th name="Номер_контейнера"
                        data-expanded-source="Контейнер"
                        data-expanded-columns="Номер_контейнера, Допустимый_вес"
                        data-expanded-prefix="Номер: *, Допустимый вес:*"
                        data-editable="true"
                        data-input-order="3">
                        Номер контейнера
                    </th>

                    <th name="Тип_материала"
                        data-expanded-source="Тип_материала"
                        data-expanded-columns="Тип_материала, Название_материала, Атомная_масса"
                        data-expanded-prefix="Тип: * *, *"
                        data-editable="true"
                        data-input-order="4">
                        Тип материала
                    </th>

                    <th name="Номер_ЗБМ"
                        data-expanded-source="Зона_баланса_материалов"
                        data-expanded-columns="Номер_ЗБМ"
                        data-expanded-prefix="Номер: *"
                        data-editable="true"
                        data-input-order="6">
                        ЗБМ
                    </th>

                    <th name="Номер_здания"
                        data-expanded-source="Здание"
                        data-expanded-columns="Номер_ЗБМ, Номер_здания"
                        data-expanded-prefix="ЗБМ: *, Здание: *"
                        data-editable="true"
                        data-input-order="7"

                        data-joinTableName="Зона_баланса_материалов"
                        data-joinColumnName="Номер_ЗБМ">

                        Здание
                    </th>

                    <th name="Номер_помещения"
                        data-expanded-source="Помещение"
                        data-expanded-columns="Номер_ЗБМ, Номер_здания, Номер_помещения"
                        data-expanded-prefix="ЗБМ: *, Здание: *, Помещение: *"
                        data-editable="true"
                        data-input-order="8"

                        data-joinTableName="Здание"
                        data-joinColumnName="Номер_здания">

                        Помещение
                    </th>

                </tr>
                </thead>
                <tbody>
                <!-- Здесь будет динамически заполняться таблица -->
                </tbody>
            </table>
        </div>

        <div id="UEContainer1">
            <div class="container_searchBar">
                <select id="UESelect">
                </select>
                <input type="text"  id="UESearchInput" placeholder="Введите данные для поиска" onchange="MakeSearch(UESelect, UEMenu_table, UESearchInput)">
            </div>
        </div>
    </div>
</div>


</body>
</html>