<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Весами</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;

        var uniqueKeysArray = ['Номер_ЗБМ', 'Номер_здания'];
    </script>

    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>
</head>
<body>
<header>
    <img id="img1" src="css/burger.png" class="toggle-submenu" onclick="toggleMenu()">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateNavigationPanel(); GetPageFromTable(currentPage);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="submenu">
    <ul>
        <li><a href="/building">Здания</a></li>
        <li><a href="/room">Помещения</a></li>
        <li><a href="/ZBM">ЗБМ</a></li>
        <li><a href="/Scales">Весы</a></li>
    </ul>
</div>

<div class="container_main">
    <div class="container_formsMenu">
        <div class="formsMenu">
            <div class="container_buttons">
                <button class="greenButton" type="button" onclick="setupFormToggle('deleteForm')">Удалить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('editForm')">Изменить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('createForm')">Создать</button>
            </div>

            <div id="forms">
                <!-- Форма создания для Room -->
                <form id="createForm" onsubmit="SubmitCreateForm(event); return false;" method="post">
                    <h1>Создание Помещения</h1>
                    <input type="text"
                           id="create_zbmNumber"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-columns-order="Номер_ЗБМ, Площадь"
                           data-order="0"
                           autocomplete="off"
                           readonly
                           placeholder="Введите номер ЗБМ">

                    <input type="text"
                           id="create_buildingNumber"
                           name="Номер_здания"
                           data-source="Здание"
                           data-columns-order="Номер_здания, Площадь"
                           data-order="1"
                           autocomplete="off"
                           readonly
                           placeholder="Введите номер здания">

                    <input type="text"
                           id="create_responsible"
                           name="Номер_сотрудника"
                           data-source="Сотрудник"
                           data-columns-order="Номер_сотрудника, Фамилия, Имя, Отчество"
                           data-name="Номер_сотрудника"
                           autocomplete="off"
                           readonly
                           placeholder="Введите ID ответственного">

                    <input type="text"
                           id="create_roomNumber"
                           name="Номер_помещения"
                           placeholder="Введите номер помещения для создания">

                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма изменения для Room -->
                <form id="editForm" onsubmit="SubmitEditForm(event); return false;" method="post" style="display: none;">
                    <h1>Изменение Помещения</h1>
                    <input type="text"
                           id="edit_zbmNumber"
                           data-edit-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-name="Номер_ЗБМ"
                           data-order="0"
                           autocomplete="off"
                           readonly
                           placeholder="Введите номер ЗБМ для изменения">

                    <input type="text"
                           id="edit_buildingNumber"
                           data-edit-field="Номер_здания"
                           name="Номер_здания"
                           data-source="Здание"
                           data-name="Номер_здания"
                           data-order="1"
                           autocomplete="off"
                           readonly
                           placeholder="Введите номер здания для изменения">

                    <input type="number"
                           id="edit_responsible"
                           data-edit-field="Ответственный"
                           name="Ответственный"
                           placeholder="Введите ID ответственного">

                    <input type="text"
                           id="edit_roomNumber"
                           data-edit-field="Номер_помещения"
                           name="Номер_помещения"
                           placeholder="Введите номер помещения для изменения">

                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма удаления для Room -->
                <form id="deleteForm" onsubmit="SubmitDeleteForm(event); return false;" method="post" style="display: none;">
                    <h1>Удаление Помещения</h1>
                    <input type="text"
                           id="delete_zbmNumber"
                           data-delete-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-order="0"
                           autocomplete="off"
                           readonly
                           placeholder="Введите номер ЗБМ для удаления">

                    <input type="text"
                           id="delete_buildingNumber"
                           data-delete-field="Номер_здания"
                           name="Номер_здания"
                           data-source="Здание"
                           data-order="1"
                           autocomplete="off"
                           readonly
                           placeholder="Введите номер здания для удаления">
                    <button class="redButton" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>

        <table id="mainTable" class="table" name="Помещение">
            <thead>
            <tr>
                <th name="Номер_ЗБМ"
                    data-expanded-source="Зона_баланса_материалов"
                    data-expended-columns="Номер_ЗБМ, Площадь"
                    data-expanded-prefix="Номер: *$ Площадь: *">
                    ЗБМ
                </th>

                <th name="Номер_здания"
                    data-expanded-source="Зона_баланса_материалов"
                    data-expended-columns="Номер_здания, Площадь"
                    data-expanded-prefix="Номер: *$ Площадь: *">
                    Здание
                </th>

                <th name="Ответственный"
                    data-expanded-source="Сотрудник"
                    data-expended-columns="Фамилия, Имя, Отчество"
                    data-expanded-prefix="* * *">
                    Ответственный
                </th>

                <th name="Номер_помещения">Номер помещения</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
