<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Весами</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;

        document.addEventListener('DOMContentLoaded', () => {
            const formsContainer = document.getElementById('forms');
            const forms = formsContainer.querySelectorAll('form');
            forms.forEach(form => {
            const inputs = form.querySelectorAll('input');
            inputs.forEach(input => {
                input.addEventListener('change', () => BlockElementInput(form));
            });

            BlockElementInput(form);
            });
        });
    </script>

    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>
</head>
<body>
<header>
    <img id="img1" src="css/burger.png" class="toggle-submenu" onclick="toggleMenu()">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateNavigationPanel(); GetPageFromTable(currentPage);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="submenu">
    <ul>
        <li><a href="/building">Здания</a></li>
        <li><a href="/room">Помещения</a></li>
        <li><a href="/ZBM">ЗБМ</a></li>
        <li><a href="/Scales">Весы</a></li>
    </ul>
</div>

<div class="container_main">
    <div class="container_formsMenu">
        <div class="formsMenu">
            <div class="container_buttons">
                <button class="greenButton" type="button" onclick="setupFormToggle('deleteForm')">Удалить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('editForm')">Изменить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('createForm')">Создать</button>
            </div>

            <div id="forms">

                <!-- Форма создания для Room -->
                <form id="createForm" onsubmit="SubmitCreateForm(event); return false;" method="post">
                    <h1>Создание Помещения</h1>

                    <label for="create_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="create_zbmNumber"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-columns-order="Номер_ЗБМ, Площадь"
                           autocomplete="off"
                           readonly
                           data-input-order="0">

                    <label for="create_buildingNumber">Номер здания:</label>
                    <input type="text"
                           id="create_buildingNumber"
                           name="Номер_здания"
                           data-source="Здание"
                           data-join-source="Зона_баланса_материалов"
                           data-join-column="Номер_ЗБМ"
                           data-join-value="create_zbmNumber"
                           data-columns-order="Номер_здания, Площадь"
                           autocomplete="off"
                           readonly
                           data-input-order="1">

                    <label for="create_responsible">Номер сотрудника:</label>
                    <input type="text"
                           id="create_responsible"
                           name="Номер_сотрудника"
                           data-source="Сотрудник"
                           data-columns-order="Номер_сотрудника, Фамилия, Имя, Отчество"
                           data-name="Номер_сотрудника"
                           autocomplete="off"
                           readonly
                           data-input-order="2">

                    <label for="create_roomNumber">Номер помещения:</label>
                    <input type="text"
                           id="create_roomNumber"
                           name="Номер_помещения"
                           data-input-order="3">

                    <button class="greenButton" type="submit" disabled>Отправить</button>
                </form>

                <!-- Форма изменения для Room -->
                <form id="editForm" onsubmit="SubmitEditForm(event); return false;" method="post" style="display: none;">
                    <h1>Изменение Помещения</h1>

                    <label for="edit_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="edit_zbmNumber"
                           data-edit-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-name="Номер_ЗБМ"
                           autocomplete="off"
                           readonly
                           data-input-order="0">

                    <label for="edit_buildingNumber">Номер здания:</label>
                    <input type="text"
                           id="edit_buildingNumber"
                           data-edit-field="Номер_здания"
                           name="Номер_здания"
                           data-source="Здание"
                           data-name="Номер_здания"
                           autocomplete="off"
                           readonly
                           data-input-order="1">

                    <label for="edit_responsible">Номер сотрудника:</label>
                    <input type="number"
                           id="edit_responsible"
                           name="Номер_сотрудника"
                           data-source="Сотрудник"
                           data-columns-order="Номер_сотрудника, Фамилия, Имя, Отчество"
                           data-name="Номер_сотрудника"
                           autocomplete="off"
                           readonly
                           data-input-order="2">

                    <label for="edit_roomNumber">Номер помещения:</label>
                    <input type="text"
                           id="edit_roomNumber"
                           data-edit-field="Номер_помещения"
                           name="Номер_помещения"
                           data-input-order="3">

                    <button class="greenButton" type="submit" disabled>Отправить</button>
                </form>

                <!-- Форма удаления для Room -->
                <form id="deleteForm" onsubmit="SubmitDeleteForm(event); return false;" method="post" style="display: none;">
                    <h1>Удаление Помещения</h1>

                    <label for="delete_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="delete_zbmNumber"
                           name="Номер_ЗБМ"
                           data-source="Зона_баланса_материалов"
                           data-columns-order="Номер_ЗБМ, Площадь"
                           autocomplete="off"
                           readonly
                           data-input-order="0">

                    <label for="delete_buildingNumber">Номер здания:</label>
                    <input type="text"
                           id="delete_buildingNumber"
                           data-edit-field="Номер_здания"
                           name="Номер_здания"
                           data-source="Здание"
                           data-name="Номер_здания"
                           autocomplete="off"
                           readonly
                           data-input-order="1">

                    <button class="redButton" type="submit" disabled>Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>

        <table id="mainTable" class="table" name="Помещение">
            <thead>
            <tr>
                <th name="Номер_ЗБМ"
                    data-expanded-source="Зона_баланса_материалов"
                    data-expended-columns="Номер_ЗБМ, Площадь"
                    data-expanded-prefix="Номер: *$ Площадь: *">
                    ЗБМ
                </th>

                <th name="Номер_здания"
                    data-expanded-source="Здание"
                    data-expended-columns="Номер_здания, Площадь"
                    data-expanded-prefix="Номер: *$ Площадь: *">
                    Здание
                </th>

                <th name="Номер_сотрудника"
                    data-expanded-source="Сотрудник"
                    data-expended-columns="Фамилия, Имя, Отчество"
                    data-expanded-prefix="* * *">
                    Ответственный
                </th>

                <th name="Номер_помещения">Номер помещения</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
