<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Весами</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;
    </script>

    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>
</head>
<body>
<header>
    <img id="img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateNavigationPanel(); GetPageFromTable(currentPage);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">
    <ul>
        <li><a href="/building">Здания</a></li>
        <li><a href="/room">Помещения</a></li>
        <li><a href="/ZBM">ЗБМ</a></li>
        <li><a href="/Scales">Весы</a></li>
    </ul>
</div>

<div class="container_main">
    <div class="container_formsMenu">
        <div class="formsMenu">
            <div class="container_buttons">
                <button class="greenButton" type="button" onclick="setupFormToggle('deleteForm')">Удалить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('editForm')">Изменить</button>
                <button class="greenButton" type="button" onclick="setupFormToggle('createForm')">Создать</button>
            </div>

            <div id="forms">
                <!-- Форма создания для ZBM -->
                <form id="createForm" onsubmit="SubmitCreateForm(event); return false;" method="post">
                    <h1>Создание ЗБМ</h1>
                    <label for="create_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="create_zbmNumber"
                           name="Номер_ЗБМ"
                           placeholder="Введите номер ЗБМ для создания">

                    <label for="create_area">Площадь:</label>
                    <input type="text"
                           id="create_area"
                           name="Площадь">
                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма изменения для ZBM -->
                <form id="editForm" onsubmit="SubmitEditForm(event); return false;" method="post" style="display: none;">
                    <h1>Изменение ЗБМ</h1>
                    <label for="edit_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="edit_zbmNumber"
                           data-edit-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           placeholder="Введите номер ЗБМ для изменения">

                    <label for="edit_area">Площадь:</label>
                    <input type="text"
                           id="edit_area"
                           data-edit-field="Площадь"
                           name="Площадь">
                    <button class="greenButton" type="submit">Отправить</button>
                </form>

                <!-- Форма удаления для ZBM -->
                <form id="deleteForm" onsubmit="SubmitDeleteForm(event); return false;" method="post" style="display: none;">
                    <h1>Удаление ЗБМ</h1>
                    <label for="delete_zbmNumber">Номер ЗБМ:</label>
                    <input type="text"
                           id="delete_zbmNumber"
                           data-delete-field="Номер_ЗБМ"
                           name="Номер_ЗБМ"
                           placeholder="Введите номер ЗБМ для удаления">
                    <button class="redButton" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>

    <div>
        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>

        <table id="mainTable" class="table" name="Зона_баланса_материалов">
            <thead>
            <tr>
                <th name="Номер_ЗБМ">Номер ЗБМ</th>
                <th name="Площадь">Площадь</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
